<ion-view title="{{user.username}}'s favorites">
    <ion-content class="page padding">
        <ion-list class="list-inset">
            <ion-item class="item-divider">{{user.username}}'s favorites</ion-item>
            <ion-item ng-repeat="thought in favoritesThoughts">
                <ng-include src="'templates/thought-item.html'"></ng-include>
                <ng-include src="'templates/thought-buttons.html'"></ng-include>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>