<ion-tabs class="tabs-calm tabs-icon-top">
    <ion-tab title="Thoughts Stream" icon="icon ion-home" href="#/home/tab/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="My Thoughts" icon="icon ion-ios7-cloud" href="#/home/tab/my-thoughts">
        <ion-nav-view name="tab-my-thoughts"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Account" icon="icon ion-person" href="#/home/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>